.container {
  display: flex;
  min-height: 200px;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--gray-700);

  img {
    padding-bottom: 1.5rem;
  }
}

.searchForm {
  position: absolute;
  max-width: 46rem;
  bottom: -1.5rem;
  display: flex;
  width: 100%;
  gap: 0.5rem;

  input {
    padding: 1rem;
    width: inherit;
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background: var(--gray-500);
    color: var(--gray-300);
    outline: none;
  }

  > button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
    padding: 1rem;
    gap: 0.5rem;

    line-height: 140%;
    font-size: 0.875rem;
    transition: background 0.2s;
    background: var(--blue-600);
    color: var(--white);
    border-radius: 8px;

    &:not(:disabled):hover {
      background: var(--blue-300);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    svg {
      line-height: 0;
    }
  }
}

@media (max-width: 768px) {
  .container {
    min-height: 160px;
  }

  .searchForm {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
